<!--<ion-view title="Add New Event" id="page6">-->
    <!--<ion-content padding="true" class="has-header">-->

            <!--<div class="item item-divider">New Event</div>-->
            <div class="item item-body">
                <form class="list" ng-controller="PopupCtrl2">
                    <label class="item item-input">
                        <!--<span class="input-label">Event name</span>-->
                        <input type="text" placeholder="Event name" ng-model="inputevent.text">
                    </label>
                    <label class="item item-input" name="eventDate">
                        <!--<span class="input-label">date</span>-->
                        <input type="date" placeholder="date" ng-model="inputdate.date">
                    </label>
                    <label class="item item-input" name="eventTime">
                        <!--<span class="input-label">time</span>-->
                        <input type="time" placeholder="time" ng-model="inputtime.time">
                    </label>
                    <label class="item item-input">
                        <!--<span class="input-label">location</span>-->
                        <input type="text" placeholder="location" ng-model="inputlocation.text">
                    </label>
                  <!--<label class="item item-button-left" name="Add people">-->
                    <!--&lt;!&ndash;<div style="margin-right:-20px;">&ndash;&gt;-->
                    <!--<span class="item-button-left"></span>-->
                    <!--<a ui-sref="newFriend" id="addNewTrip-button13" style="text-align:left;" class="button button-positive button-full button-clear">Add people</a>-->

                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--</label>-->
                    <!--<ion-toggle toggle-class="toggle-positive" name="noteEvent">Notification</ion-toggle>-->
                </form>
                <!--<div style="margin-right:-20px;">-->
                    <!--<button id="addNewEvent-button18" style="left:-10px;" class="button button-positive  button-full">Create</button>-->
                <!--</div>-->
            </div>

    <!--</ion-content>-->
<!--</ion-view>-->
