<!--<ion-view title="AddNewTrip" id="page4">-->
<!--&lt;!&ndash;<ion-popover-view title="AddNewTrip" id="page4">&ndash;&gt;-->
    <!--<ion-content padding="true" class="has-header">-->
        <!--<div class="list card">-->
            <!--<div class="item item-divider">New Trip</div>-->
            <div class="item item-body">
                <form class="list" ng-controller="PopupCtrl">
                    <label class="item item-input" name="tTitle">
                        <!--<span class="input-label">Trip Title</span>-->
                        <input type="text" placeholder="trip title" ng-model="inputTitle.text">
                    </label>
                    <label class="item item-input" name="tripDate">
                        <!--<span class="input-label">date</span>-->
                        <input type="date" placeholder="date" ng-model="inputDate.date">
                    </label>
                    <!--<label class="item item-input" name="time">-->
                        <!--<span class="input-label">time</span>-->
                        <!--<input type="time" placeholder="" ng-model="tTime">-->
                    <!--</label>-->
                    <label class="item item-input" name="destination">
                        <!--<span class="input-label">destination</span>-->
                        <input type="text" placeholder="destination" ng-model="inputDestination.text">
                    </label>
                    <!--<label class="item item-button-left" name="Add people">-->
                    <!--<div style="margin-right:-20px;">-->
                    <!--<span class="item-button-left"></span>-->
                    <!--<a ui-sref="newFriend" id="addNewTrip-button13" style="text-align:left;" class="button button-positive button-full button-clear">Add people</a>-->

                    <!--</div>-->
                    <!--</label>-->
                    <!--<ion-toggle toggle-class="toggle-positive">Notification</ion-toggle>-->
                </form>
                <!--<div style="margin-right:-20px;">-->
                    <!--<button id="addNewTrip-button14" style="left:-10px;" class="button button-positive  button-full">Create</button>-->
                <!--</div>-->
            </div>
        <!--</div>-->
    <!--</ion-content>-->
  <!--&lt;!&ndash;</ion-popover-view>&ndash;&gt;-->
<!--</ion-view>-->
