<ion-view title="Trip2" id="page13">
    <ion-content padding="false" style="background: url(img/7v5T342WR1qqUT2r7yaV_blue-wall-abstract-mobile-wallpaper-1080x1920-4648-1409390488.jpg) no-repeat center;background-size:cover;" class="has-header">
        <a ui-sref="trips" id="event2-button10" style="text-align:left;" class="button button-positive  button-full button-icon icon-left ion-ios-arrow-back"></a>
        <h2 id="event2-heading2" style="color:#FFFFFF;text-align:center;">Trip Title</h2>
        <div class="spacer" style="width: 303px; height: 102px;"></div>
        <a ui-sref="addNewEvent" id="event2-button22" class="button button-positive button-large button-full button-icon icon-right ion-ios-plus"></a>
        <ion-list>
            <ion-item>Event 1 + Time</ion-item>
            <ion-item>Event 2 + Time</ion-item>
            <ion-item>Event 3 + Time</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
