<ion-view title="Archive" id="page9" hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-stable">
    <ion-button class="button button-clear button-icon ion-navicon button-positive" ui-sref="trips"></ion-button>
    <h1 class="title" style="text-align: center">Archive</h1>
    <ion-button class="button button-clear button-positive" ng-controller="loginCtrl" ng-click="logout()">Log out</ion-button>
  </ion-header-bar>
  <ion-content padding="true" style="background: url(img/kJTXY14hSH6hfyeg7gD7_blue-wall-abstract-mobile-wallpaper-1080x1920-4648-1409390488.jpg) no-repeat center;background-size:cover;">
<p class="tripDetail">please click the sidemenu button to view itineraries</p>
  <ion-list>
            <ion-item>old trip 1</ion-item>
            <ion-toggle toggle-class="toggle-positive" name="accept">accept</ion-toggle>
            <ion-item>old trip 2</ion-item>
            <ion-toggle toggle-class="toggle-positive">decline</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>
